<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf</title>
</head>

<!-- bootstrap,cssの読み込み -->
<script src="/MslMgt/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<script src="/MslMgt//webjars/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet"	href="/MslMgt/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />

<!-- 外部JSファイルの読み込み、CSSも同様に作成できる
詳細、https://qiita.com/k0001/items/3d506daf9e15a211e8b2 -->
<!-- <script src="/js/helloworld.js" th:href="@{/js/helloworld.js}"></script> -->

<script>

$(function(){
//	alert("aaa");

});

</script>

<body>
	<p th:text="'こんにちは, ' + ${name} + 'さん!'" />


	<div class="container">
		<br />
		<div class="alert alert-success">
			<strong>Success!</strong> It is working as we expected.
		</div>
	</div>
	<div class="input-group">
		<span class="input-group-addon">ユーザー名</span> <input type="text"
			class="form-control" placeholder="太郎">
	</div>


</body>
</html>