<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>

<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet"	href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
<script>

$(function(){
//	alert("aaa");

});

</script>

<body>
<h1>対象画面</h1>
	<a th:href="@{/TrgRecordList/show}">トレーニング記録一覧画面</a>
	<br />
	<a th:href="@{/TrgEventsList/show}">トレーニング種目一覧画面（TODO 未作成）</a>

</body>
</html>